<div *ngIf="currentUser">
    <header>
      <p> Hello, {{ currentUser.username }}. </p>
      <a [routerLink]="['/add-accessory']">Add a new Accessory</a>
      <button (click)="logMeOutPls()"> Log Out </button>
      <p *ngIf="logoutError" class="error">
        {{ logoutError }}
      </p>
    </header>
    <h2>Accessories List</h2>
  
    <div *ngFor="let accessory of accessories">
      <a [routerLink]="['/accessories', accessory._id]">{{ accessory.name + ' ' + accessory.price }}</a>
    </div>
  </div>
  